@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Asap', sans-serif;
}

a {
  color: #FF722C;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 24px;
}

* {
  margin: 0;
  box-sizing: border-box;
}
